<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="notifications" class="badge">
            <span class="notifications-badge">3</span>
          </ion-icon>
        </button>
        <button ion-button icon-only
                [navPush]="tab10">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-row padding>
    <!--  -->
    <ion-col col-3 text-center class="green">
      <ion-icon class="icon-style" name="locate"></ion-icon>
      <h6 class="title">{{devices.length}}</h6>
      <p no-padding no-margin class="title">Current Devices</p>
    </ion-col>
    <ion-col col-3 text-center class="orange">
       <ion-icon class="icon-style" name="checkmark"></ion-icon>
      <h6 class="title">0</h6>
      <p no-padding no-margin class="title">Past Devices</p>
    </ion-col>
    <ion-col col-3 text-center class="red">
      <ion-icon class="icon-style" name="lock"></ion-icon>
      <h6 class="title">0</h6>
      <p no-paddin no-margin class="title">Close Devices</p>
    </ion-col>
    <ion-col col-3 text-center class="blue">
      <ion-icon class="icon-style" name="bulb"></ion-icon>
      <h6 class="title">{{messages.length}}</h6>
      <p no-paddin no-margin class="title">Alert & Messages</p>
    </ion-col>
  </ion-row>
  <!-- Segments alerts and list devices -->
  <div>
    <ion-segment [(ngModel)]="menu" color="primary" >
      <ion-segment-button value="alert">

        <label><ion-icon name="bookmark"></ion-icon>
        Alerts & Messages</label>
      </ion-segment-button>
      <ion-segment-button value="list" >
        <ion-icon name="list"></ion-icon>
        List Devices
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="menu">
    <ion-list *ngSwitchCase="'alert'">
      <ion-item *ngFor="let message of messages">
        <p class="color-item"> {{message.message + ' ' + message.message2}} </p>
        <ion-icon [name]="message.messagetype2 == 'text-success' ? 'checkmark' : 'information-circle'" [color]="message.messagetype2 == 'text-success' ? 'secondary' : 'dark'" item-end small></ion-icon>
       </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'list'" >
      <ion-row>
      <ion-col col-12>
        <ion-item *ngFor="let device of devices">
          <ion-icon name="document" color="primary" item-start small></ion-icon><p class="color-item">{{device.category.name + ' ' + device.make.name + ' ' + device.model.name}}</p>
        </ion-item>
    </ion-col>
    </ion-row>
    </ion-list>
  </div>
</ion-content>
