page-devices {
  .card-subtitle{
    font-size: 1.4rem;
  }
  input[type=text] {
    font-size: 1.4rem
  }

  .card-title  {
    font-size: 1.5rem;
    color: #337ab7 ;
  }
  .searchbar {
    width: 100% !important;
  }
}
