page-devices {

  .card-title  {
    font-size: 1.6rem;
    color: #337ab7 ;
  }

  .card-subtitle{
    font-size: 1.4rem;
  }

  .searchbar {
    width: 100% !important;
  }

  .margin-opcion{
    margin-top: -8px;
  }
}
