<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register Device</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveDevice()">
        <ion-icon name="checkmark" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="device.strSerial" type="text" placeholder="Serial" clearInput="true"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" placeholder="Imei" clearInput="true"></ion-input>
         <button ion-button item-end icon-left>
           <ion-icon name="barcode"></ion-icon>
           scaner
         </button>
       </ion-item>
      <ion-item>
         <ion-label><span class="label-style">Category</span></ion-label>

       <ion-select [(ngModel)]="device.category">
         <ion-option *ngFor="let category of categories" [value]="category">{{category.name}}</ion-option>
       </ion-select>

      </ion-item>
      <ion-item>
        <ion-label><span class="label-style">Subcategory</span></ion-label>

        <ion-select [(ngModel)]="device.subcategory">
          <ion-option *ngFor="let subcategory of subcategories" [value]="subcategory">{{subcategory.name}}</ion-option>
        </ion-select>

      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="make" type="text" placeholder="Make" clearInput="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="model" type="text" placeholder="Model" clearInput="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><span class="label-style">Warranty time</span></ion-label>

        <ion-select [(ngModel)]="device.warrantytime">
          <ion-option *ngFor="let warrantytime of warrantytimes" [value]="warrantytime">{{warrantytime.name}}</ion-option>
        </ion-select>

      </ion-item>
      <ion-item>
        <ion-label><span class="label-style">Date of Purchase</span></ion-label>
        <ion-datetime [(ngModel)]="device.datDatePurchase" displayFormat="MMM DD YYYY" pickerFormat="YYYY-MM-DD"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="device.strVendor" type="text" placeholder="Vendor" clearInput="true"></ion-input>
      </ion-item>

      <ion-fab bottom right>

        <button ion-fab color="primary">
          <ion-icon name="cloud-upload"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab>  <ion-icon name="camera"></ion-icon></button>
          <span class="notifications-badge">3</span>
          <button ion-fab [navPush]="ModalFile"> <ion-icon name="document"></ion-icon></button>

        </ion-fab-list>
      </ion-fab>
    </ion-list>
</ion-content>
